* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
    height: 100%;
    background: linear-gradient(#3535ec, #b62897);
    background-attachment: fixed;
    color: white;
}

/* tutte le immagini non supereranno il loro contenitore */
header img {
    width: 60px;
}

/* Container che centra il contenuto al centro dando "aria" al contenuto */
.container {
    margin: 0 auto;
    width: 90%;
    padding: 16px;
    height: 100vh;
}

main {
    height: 90%;
    max-width: 100%;
    text-align: center;
}

.box {
    margin-top: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.box img {
    width: 90px;
    margin: 30px;
}