*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(#0f0f77 5%, #3535ec);
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.piano-panel img{
    width: 160px;
}

.piano-panel{
    height: 94px;
    background-color: #f71469;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 24px;
    background-image: url('./images/panel-reflex.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.piano-keys{
    height: 190px;
    display: flex;
}

.key{
    border-radius: 0 0 8px 8px;
}

.key-white{
    height: 100%;
    width: 64px;
    background-color: #ffffff;
    border-left: 3px solid  #000000;
    border-bottom: 6px solid #8c8c8c;
    border-right: 1px solid #000000;
}

.key-white:active{
    background-color: #dddddd;
}

.key-black{
    height: 60%;
    width: 40px;
    background: linear-gradient(#737373 10%, #0d0d0d);
    margin: -0 -22px 0 -22px;
    z-index: 2;
    border-right: 3px solid black;
    border-left: 3px solid black;
    border-bottom: 4px solid #8c8c8c;

}

.key-black:active{
    background: #000000;
}

.button_back{
    margin-top: 10px;
    font-weight: bold;
    color: #f71568;
}