*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

html{
    height: 100%;
    background: linear-gradient(#eaedfd, #89a4f8);
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
    line-height: 1;
    color: black;
}

.container{
    width: 90%;
    margin: 0 auto;
    padding: 16px;
}

header img{
    width: 56px;
}

main{
    text-align: center;
}
.weather-icon{
    transition: tranform 0.5s, opacity 1s;
}

.weather-info{
    margin-bottom: 32px;
}
.suggestion_none{
    opacity: 0;
}

.weather-location, 
.suggestion{
    font-size: 18px;
    font-weight: bold;
}

.weather-temperature{
    font-size: 112px;
}

.panel{
    background-color: white;
    border-radius: 10px ;
    padding: 20px;
    transition: opacity 0.5s, transform 0.5s;
}

.panel h4{
    font-size: 16px;
    font-weight: normal;
    color: steelblue;
    margin-bottom: 12px;
}

.js-loading .weather-icon{
    opacity: 0;
    transform: translateY(30px);
}

.js-loading .panel{
    opacity: 0;
    transform: scale(0);
}

.button_back{
    margin-top: 30px;
    font-weight: bold;
    color: #f71568;
}