*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

button{
    border: none;
    background-color: #f71568;
    padding: 10px 16px;
    margin: 16px;
    border-radius: 8px;
    cursor: pointer;
}

html{
    height: 100%;
    background: linear-gradient(#828bf8, #3e3fed);
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
    color: black;
}

h2{
    font-size: 18px;
    margin-bottom: 16px;
}

h3{
    font-size: 14px;
    margin-bottom: 13px;
    color: grey;
}

main{
    text-align: center;
}

.container{
    width: 90%;
    max-width: 720px;
    margin: 0 auto;
    padding: 16px;
}

header img{
    width: 56px;
}

.codigoci{
    width: 230px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 24px;
}

.codigoci_screen{
    position: absolute;
    top: 118px;
    left: 56px;
    width: 120px;
    height: 120px;
    background-image: url('./images/static.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.codigoci_screen_balla{
    background-image: url('./images/balla.gif');
}

.codigoci_screen_dormi{
    background-image: url('./images/dormi.gif');
}

.codigoci_screen_mangia{
    background-image: url('./images/mangia.gif');
}

.commands ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between
}

.commands ul li{
    font-size: 20px;
    font-weight: bold;
}

.panels{
    position: relative;
}

.panel{
    background-color: white;
    border-radius: 16px;
    padding: 16px 24px;
    transition: transform 0.2s;
}

.panel_commands{
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    transform: scale(0);
}

.listening .panel_microphone{
    visibility: hidden;
    transform: scale(0);
}

.listening .panel_commands{
    visibility: visible;
    transform: scale(1);
}

.button_back{
    margin-top: 30px;
    font-weight: bold;
    color: #f71568;
}