*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
    height: 100%;
    background: linear-gradient(#3535ec, #b62897);
    background-attachment: fixed;
    color: white;
}
/* tutte le immagini non supereranno il loro contenitore */
img{
    max-width: 100%;
}

/* Container che centra il contenuto al centro dando "aria" al contenuto */
.container{
    margin: 0 auto;
    width: 90%;
    padding: 16px;
}

/* Logo */
header img{
    width: 56px;
}

textarea{
    margin-top: 32px;
    margin-bottom: 32px;
    height: 120px;
    width: 100%;
    resize: none;
    outline: none;
    border: none;
    border-radius: 16px;
    font-size: 20px;
    padding: 24px;
    font-family: 'Roboto', sans-serif;
}
/* Controlli */
.controlls{
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

/* Play button */
button{
    width: 64px;
    height: 56px;
    border-radius: 8px;
    border: none;
    background-color: #f81669;
}

button:disabled{
    opacity: 0.5;
    background-color: #dedede;
}

/* funzioni solo da pc */
button:hover{
    transform: scale(1.1);
}

button:active{
    transform: scale(-0.8);
}

/* Centro un unica immagine all'interno di un box */
button img{
    vertical-align: middle;
}

/* Controlli del tono */
.pitch-controll{
    width: 70%;
}

/* Barra del tono */
input{
    width: 100%;
    accent-color: white;
}

label{
    font-size: 14px;
    margin-bottom: 12px;
    display: block;
}

.animated_duck{
    display: none;
}

.talking .animated_duck{
    display: block;
}

.talking .static_duck{
    display: none;
}

.button_back{
    margin-top: 30px;
    font-weight: bold;
    color: #3535ec;
}